.button {
    padding: 4px 8px;
    &--primary {
        background-color: blue;
        color: white;
    }
    &--danger {
        background-color: red;
        color: white;
    }
    &--success {
        background-color: green;
        color: white;
    }
    &--outline {
        border: 1px solid #474747;
        background-color: white;
    }
}