@use '../../assets/colors';
@use '../../assets/fonts/font-face' with ($base_url: '../../assets/fonts');

$colors: (
    red: colors.$red100,
    blue: colors.$blue250
);

$sizes: (
    xs: 7px,
    sm: 15px,
    md: 19px,
    lg: 23px
);

@each $badgeColor, $color in $colors {
    .#{$badgeColor} {
       background-color: $color;
       color: colors.$white00;
    }
}

@each $badgeSize, $size in $sizes {
    .#{$badgeSize} {
       height: $size;
       min-width: $size;
       font-size: $size - 8px;
       padding: 1px;
    }
}

.badge-container {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.badge {
    font-family: 'Open Sans', Arial, Helvetica, san-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: default;
}

.top-right {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(50%, -50%);
}

.top-left {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(-50%, -50%);
}