@use '../../assets/fonts/font-face' with ($base_url: '../../assets/fonts');
@use '../../assets/colors';

$colors: (
    royalBlue: colors.$blue250,
    ceruleanBlue: colors.$blue200,
    turquoise: colors.$cyan100,
    limeGreen: colors.$green300,
    purple: colors.$purple300,
    red: colors.$red100
);

$hoverColors: (
    royalBlue: colors.$blue500,
    ceruleanBlue: colors.$blue300,
    turquoise: colors.$cyan200,
    limeGreen: colors.$green350,
    purple: colors.$purple350,
    red: colors.$red150
);

@each $buttonType, $color in $colors {
    .#{$buttonType} {
       background-color: $color;
       color: colors.$white00;
       border: solid 1px $color;
    }
}

@each $buttonType, $color in $hoverColors {
    .#{$buttonType}:hover:not(:disabled) {
       background-color: $color;
       color: colors.$white00;
       border: solid 1px $color;
    }
}

.button {
  transition: all 200ms ease-out;
  cursor: pointer;
  padding: 4px 8px;
  height: 32px;
  min-width: 95px;
  border-radius: 4px;
  &:focus,
  &:hover,
  &::-moz-focus-inner {
    border: none;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

.button-content {
  display: flex;
  justify-content: center;
  gap: 6px;
  align-items: center;
  text-decoration: none;
  box-sizing: border-box;
  vertical-align: middle;
  word-break: break-all;
  flex-wrap: nowrap;
  font-family: 'Open Sans', Arial, Helvetica, san-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}