$cyan50: #40A9C8;
$cyan100: #17A2B8;
$cyan150: #0188A3;
$cyan200: #187D8D;

$blue50: #D9EBFF;
$blue100: #B7D0EA;
$blue250opacity30: #007BFF4e;
$blue150: #82B8F5;
$blue200opacity60: #03A5E599;
$blue200: #03A5E5;
$blue250: #007BFF;
$blue300: #0086BB;
$blue350: #1E83BA;
$blue400: #0062CC;
$blue450: #1D4ED8;
$blue500: #004DA0;
$blue550: #023E7E;

$green50: #E0F1D6;
$green100: #D2F1BE;
$green150: #DDFFA8;
$green200: #09E409;
$green250: #97C842;
$green300: #66B832;
$green350: #4A8525;
$green400: #008000;

$white00opacity0: #FFFFFF00;
$white00: #FFFFFF;
$white00opacity60: #FFFFFF99;

$grey50: #F9F9F9;
$grey100: #F2F2F2;
$grey150: #F1F1F1;
$grey200: #EBEBEB;
$grey550opacity20: #C4C4C433;
$grey250: #EAE8E8;
$grey300: #E3E3E1;
$grey350: #D6D6D6;
$grey400: #D3D3D3;
$grey450: #D1D1D1;
$grey500: #D5D5D5;
$grey550: #C4C4C4;
$grey600opacity40: #7D7D7D67;
$grey650opacity40: #67676767;
$grey600opacity60: #7D7D7D99;
$grey600opacity80: #7D7D7DCC;
$grey600: #7D7D7D;
$grey650: #676767;
$grey700: #3F3F46;
$grey750: #2E2E2E;

$black00: #000000;

$yellow50: #FDF6BD;
$yellow100: #FEF102;
$yellow500: #7A7400;

$orange50: #F9D7A9;
$orange100: #FF8D07;
$orange150: #F58225;
$orange200: #B45309;

$red50: #FFCBC3;
$red100: #FF0000;
$red150: #A10000;

$purple50: #FAE8FF;
$purple100: #D2DCF7;
$purple150: #DCCBE8;
$purple200: #5B83CA;
$purple250: #951CBD;
$purple300: #6F42C1;
$purple350: #42237A;